{% extends 'base.html'%}

{% block content %}
 <form class="form-signin" action="result/" method="post" enctype="multipart/form-data">
 {% csrf_token %}

     <div class="text-center mb-4">
         <h1 class="h3 mb-3 font-weight-normal">Android App Classification</h1>
         <p>This is a prototype API our mobile application</p>
     </div>
 </form>


{% endblock %}
